<ion-view view-title="Vibe">
  <ion-content class="padding">
    <div>
      <div><button class="button button-calm button-clear" ui-sref="app.things">
      Things to do</button></div>
      <div ng-controller="VibeController" ng-init="loadImages()">
        <div class="row" ng-repeat="image in images" ng-if="$index % 3 === 0">
          <div class="col col-32" ng-if="$index < images.length">
              <img ng-src="{{images[$index].src}}" width="100%" />
          </div>
          <div class="col col-32" ng-if="$index + 1 < images.length">
              <img ng-src="{{images[$index + 1].src}}" width="100%" />
          </div>
          <div class="col col-32" ng-if="$index + 2 < images.length">
              <img ng-src="{{images[$index + 2].src}}" width="100%" />
          </div>
        </div>
      </div>
    </div>
    <div>
      <div><button class="button button-calm button-clear" ui-sref="app.people">
      People</button></div>
      <div ng-controller="VibeController" ng-init="loadImages()">
        <div class="row" ng-repeat="image in images" ng-if="$index % 3 === 0">
          <div class="col col-32" ng-if="$index < images.length">
              <img ng-src="{{images[$index].src}}" width="100%" />
          </div>
          <div class="col col-32" ng-if="$index + 1 < images.length">
              <img ng-src="{{images[$index + 1].src}}" width="100%" />
          </div>
          <div class="col col-32" ng-if="$index + 2 < images.length">
              <img ng-src="{{images[$index + 2].src}}" width="100%" />
          </div>
        </div>
      </div>
    </div>
    <div>
      <div><button class="button button-calm button-clear" ui-sref="app.places">Places</button></div>
      <div ng-controller="VibeController" ng-init="loadImages()">
        <div class="row" ng-repeat="image in images" ng-if="$index % 3 === 0">
          <div class="col col-32" ng-if="$index < images.length">
              <img ng-src="{{images[$index].src}}" width="100%" />
          </div>
          <div class="col col-32" ng-if="$index + 1 < images.length">
              <img ng-src="{{images[$index + 1].src}}" width="100%" />
          </div>
          <div class="col col-32" ng-if="$index + 2 < images.length">
              <img ng-src="{{images[$index + 2].src}}" width="100%" />
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
